---
export interface Props {
  color?: "red" | "purple";
}

const { color } = Astro.props;
---

<div class="group relative w-40 h-12">
  <div
    class="animate-pulse absolute -inset-1 rounded-lg bg-gradient-to-r from-purple to-pink opacity-60 blur-xl transition duration-500 group-hover:opacity-100"
  >
  </div>
  <button
    class="w-40 h-12 relative rounded-lg bg-gradient-to-r from-purple to-pink px-7 py-4 text-gray-100 flex justify-center items-center font-medium text-xl"
    ><slot /></button
  >
</div>

<!-- <button
    type="button"
    class="w-40 h-12 flex justify-center items-center text-gray-100 font-medium text-xl bg-gradient-to-r from-purple to-pink p-[1px] rounded-lg"
>
    <span class="block bg-gray-800 w-full py-2 rounded-lg"><slot /></span>
</button> -->
