<header class="max-w-screen-lg ml-auto mr-auto">
    <ul class="flex justify-between">
        <li class="list-none w-32">
            <a href="" class="text-white text-2xl">O QUE FAÇO</a>
        </li>
        <li class="list-none w-32">
            <a href="" class="text-white text-2xl">SOBRE MIM</a>
        </li>
        <li class="list-none w-32">
            <a href="" class="text-white text-2xl">PROJETOS</a>
        </li>
        <li class="list-none w-32">
            <a href="" class="text-white text-2xl">CONTATO</a>
        </li>
    </ul>
</header>
